<div class="container pt-10 h-full bg-orange-600 flex flex-col items-center min-w-full">
  <%- include('../partials/messages') %>
  <h1 class="text-2xl font-bold mb-5">Login</h1>
  <%- include("../users/_form", {action, user, submit: "Login"}) %>
  <a href="/users/new" class="mt-5 underline">Create an account</a>
</div>
