<!-- Use colors that are added to elements dynamically
  so they aren't pruned by tailwindcss -->

<div class="hidden">
  <p class="bg-red-200"></p>
  <p class="bg-orange-200"></p>
  <p class="bg-yellow-200"></p>
  <p class="bg-green-200"></p>
  <p class="bg-blue-200"></p>
  <p class="bg-purple-200"></p>
</div>