<nav class="bg-yellow-mid px-8 py-4 flex justify-between items-center border-b-8 border-neutral-900">
  <div>
    <a href="/" class="font-bold text-5xl">INTRVL.</a>
  </div>

  <% if (user) { %>
    <div>
      <a href="/logout" class="font-bold text-lg bg-red-dark px-5 py-2 rounded-xl border-4 border-black text-white shadow-solid">LOGOUT</a>
    </div>
  <% } else { %>
    <div>
      <a href="/users/new"
        class="font-bold text-lg bg-red-dark px-5 py-2 rounded-xl border-4 border-black text-white shadow-solid">SIGN UP</a>
    </div>
  <% } %> 
  <!-- Signup button -->
</nav>