<div class="bg-green-mid flex justify-center items-center py-20 h-full">
  <%- include('partials/messages') %>
  <div class="container flex justify-center">
    <div class="bg-white lg:w-2/6 md:w-3/4 px-11 py-5 border-4 border-black rounded-xl shadow-solid flex justify-center flex-col ">
      <p class="text-2xl font-bold mb-8 text-center h-32">
        Intrvl. allows you to create custom interval timers for<br/>
        <span id="js-animated-type"></span>
        <div id="typed-strings">
          <p>meditation.</p>
          <p>H^100I^100I^100T.</p>
          <p>Tabata.</p>
          <p>circuit training.</p>
          <p>test administration.</p>
          <p>studying.</p>
          <p>Pomodoros.</p>
          <p>whatever you need.</p>
        </div>
      </p>
      <a href="/timers/new" class="font-bold text-lg bg-purple-dark hover:bg-purple-mid px-5 py-2 rounded-xl border-4 border-black text-white shadow-solid hover:shadow-solid-half text-center">CREATE TIMER</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>
<script src="/src/js/index.js" defer></script>
