<div class="bg-green-mid container flex justify-center items-center py-20 h-4/6 border-black border-b-4">
  <div class="bg-white w-2/6 px-11 py-5 h-fit border-4 border-black rounded-xl shadow-solid flex justify-center flex-col">
    <p class="text-2xl font-bold mb-8 text-center">
      Intrvl. allows you to create custom interval timers
    </p>
    <button class="font-bold text-lg bg-purple-dark px-5 py-2 rounded-xl border-4 border-black text-white shadow-solid">CREATE TIMER</button>
  </div>
</div>

<div class="bg-green-light py-10 px-10 h-2/6 container">
  <h1 class="font-bold text-3xl">POPULAR TIMERS</h1>

  <div class="flex justify-between items-center w-3/6 p-4 mt-5 border-neutral-700 border-b-2">
    <div>
      <p class="font-bold text-xl">Meditate 6 x 3 mins</p>
      <div class="flex ml-5">
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">public</div>
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">meditation</div>
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">health</div>
      </div>
    </div>

    <div>
      <button class="border-2 border-black rounded-lg px-3 shadow-solid-hal bg-green-dark">Start</button>
      <button class="border-2 border-black rounded-lg px-3 shadow-solid-half text-white bg-purple-dark">Duplicate</button>
    </div>
  </div>

  <div class="flex justify-between items-center w-3/6 p-4 mt-5 border-neutral-700 border-b-2">
    <div>
      <p class="font-bold text-xl">Meditate 6 x 3 mins</p>
      <div class="flex ml-5">
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">public</div>
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">meditation</div>
        <div class="bg-yellow-light px-4 mr-3 border-black border-2 rounded-full text-sm">health</div>
      </div>
    </div>
  
    <div>
      <button class="border-2 border-black rounded-lg px-3 shadow-solid-hal bg-green-dark">Start</button>
      <button class="border-2 border-black rounded-lg px-3 shadow-solid-half text-white bg-purple-dark">Duplicate</button>
    </div>
  </div>
</div>