<% if (timer.public) { %>
  <div class="bg-yellow-200 dark:bg-yellow-500 px-4 md:mr-3 mb-1 md:mb-0 border-black border-2 rounded-full text-sm">public</div>
<% } else { %>
  <div class="bg-gray-200 dark:bg-slate-600 px-4 md:mr-3 mb-1 md:mb-0 border-black border-2 rounded-full text-sm">private</div>
<% } %>