<div class="container pt-10 h-full bg-[#7ed4ef] flex flex-col items-center">
  <%- include('../partials/messages') %>
    <h1 class="text-2xl font-bold mb-5">Create a new tag</h1>

    <%- include('_form', {action: '/tags' , submit: 'Create Tag' , tag }) %>

</div>