<div
  class="bg-white dark:bg-slate-800 dark:text-slate-100 w-full max-w-lg px-11 py-5 h-fit border-4 border-black rounded-xl shadow-solid flex justify-center flex-col">
  
  <form method="POST" action="<%= action %>" class="flex flex-col">
    <label for="username-input" class="text-lg">Username:</label>
    <input
      type="text"
      name="username"
      id="username-input"
      value="<%= user ? user.username : "" %>"
      class="border-2 border-black rounded-lg p-2 mb-5 dark:bg-slate-700"
      autocomplete="username"
      required>

    <label for="password-input" class="text-lg">Password:</label>
    <input
      type="password"
      name="password"
      id="password-input"
      class="border-2 border-black rounded-lg p-2 mb-5 dark:bg-slate-700"
      autocomplete="current-password"
      required>

    <button type="submit" class="font-bold text-lg bg-purple-dark hover:bg-purple-mid dark:bg-purple-900 dark:hover:bg-purple-800 px-5 py-2 rounded-xl border-2 border-black text-white shadow-solid hover:shadow-solid-half">
      <%= submit || "Submit" %>
    </button>
  </form>
</div>