<div class="container pt-10 h-full flex flex-col items-center">
  <%- include('../partials/messages') %>
  <h1 class="text-2xl font-bold mb-5">Edit Login Credentials</h1>

  <%- include('../partials/messages') %>

  <% const action=`/users/${user.id}?_method=PUT` %>
  
  <%- include('_form', { action, submit: 'Update' , messages, user }) %>
</div>