<div class="flex flex-col items-center h-full">
  <%- include('../partials/messages') %>
    <div class="container md:p-10 p-4">
      <!-- Header -->
      <div
        class="flex md:flex-row flex-col items-center justify-between border-black dark:border-slate-500 border-b-2 py-3 mb-2">
        <h1 class="text-2xl">
          Your Favorite Timers
        </h1>
      </div>

      <!-- Timers -->
      <div>
        <% if (timers.length > 0) { %>
          <%- include('../timers/_timerList', { timers }) %>
        <% } else { %>
          You don't have any favorites, yet!
        <% } %>
      </div>
</div>