<div class="flex flex-col items-center">
  <div class="container p-10">
    <div class="flex items-center justify-between border-black border-b-2 py-3">
      <h1 class="text-2xl"><%= user.username %>'s Profile </h1>
      <div>
        <a href="/timers/new"
          class="text-lg bg-green-dark px-4 py-2 rounded-xl border-4 border-black text-white shadow-solid mr-5">
          Create Timer
        </a>
        <a href="/users/<%= user.id %>/edit"
          class="text-lg bg-purple-dark px-4 py-2 rounded-xl border-4 border-black text-white shadow-solid">
          Account Settings
        </a>
      </div>
    </div>

    <%- include('../timers/_timerList', {timers}) %> 
  </div>
</div>